<form action="/login" method="POST" id="login_button">
<input type="text" name="user[username]" placeholder="username">
<input	type="password" name="user[password]" placeholder="password">

<input type="submit">
	
</form>


