<form action="/signup" method="POST">
   User Info:  <br>


  <input type="text" name="user[name]" placeholder="username"> 
  <input type="password"  name="user[password]" placeholder="  password">
  <input type="password"  name="user[password_confirmation]"   placeholder="confirm password">
  <input type="submit">
</form>