.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  
}

body {
	/*background-image: url("http://fullhdwp.com/images/wallpapers/Trinidad-and-Tobago-wallpaper.jpg");
	*/
	background-color: azure;

}

.edit_wrapper {
	display: none;
}