<form action="/events" method="POST"> 
Event:<br>
<input type="text" name="event[title]" placeholder="title">
<input type="text" name="event[description]" placeholder="description">
<input type="submit">
</form>