<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Comment line above and uncomment line below if working offline -->
  <!-- <script type="js/jquery-1.11.1.min.js"></script> -->
  <script src="/js/app.js"></script>

  <title> **Simple Landing Page** </title>
</head>


  <% if current_user %>
    <a href="/logout"> Logout</a>
  <% else %>  
    <p>Welcome to the Site!</p>
    <a href="/signup"> Signup </a> |
    <a href="/login"> Login </a>
   <% end %>


  
    <body>
    <div class="wrapper">
       <%= yield %> 
    </body>
  </div> 

</html>
